body {
  background-color: #e67e22;
  color: #111111;
}

.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green-text-area {
  resize: vertical;
}

.i-center-text {
  text-align: center;
}

.igen-title {
  font-size: 400%;
}

.run-btn {
  background-color: #111111;
  color: white;
}

#output-div {
  margin-top: 10px;
  display: none;
}

